@import "../00_Abstracts/index.scss";

.hidden {
    visibility: hidden !important;
}

.visible {
    visibility: visible !important;
}

.remove {
    display: none !important;
}

.display {
    display: block;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}