//   FONTS

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 16px;
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * .875) !default;
$font-weight-base: normal;

$line-height-base: 1.5;

// SPACING

$spacing-sizes: (
    auto: auto,
    0: 0,
    xxs: 0.125rem,
    xs: 0.25rem,
    sm: 0.5rem,
    md: 0.75rem,
    lg: 1rem,
    xl: 1.25rem,
    xxl: 2rem
) !default;


// COLORS

$theme-colors: (
    'primary': #ca4800,
    'secondary': #0971b2,
    'default': #6c757d,
    'success': #6f943e,
    'info': #4f9acc,
    'warning': #ffc107,
    'danger': #ff0000,
    'light': #f8f9fa,
    'dark': #343a40,
    'black': #000,
    'white': #fff
) !default;

$color-variation: 8%;


// BREAKPOINTS

$breakpoints: (
    xs: 480px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1440px
) !default;


// Z-INDEX

$z-indexes: (
    dropdown: 1000,
    sticky: 1020,
    fixed: 1030,
    modal-backdrop: 1040,
    modal: 1050,
    popover: 1060,
    tooltip: 1070
) !default;


// BORDERS

$border-radius-base: 0;
$active-border: '';