@import "../00_Abstracts/index.scss";

.button {
    border: 0 solid transparent;
    @include border-radius(sm);
    @include box-shadow(sm);
    @include p(md);
    @include transition-ease-in-out();

    @include hover {
        cursor: pointer;
        @include box-shadow(md);
    }

    @each $color,
    $value in $theme-colors {
        &.#{$color} {
            background-color: color($color);
            border: solid 2px color($color);
            color: text-color($color);

            @include hover-focus {
                background-color: color($color, light);
                border: solid 2px color($color, light);
                color: text-color($color, light);
            }

            &:disabled {
                background-color: color($color, lighter);
                border: solid 2px color($color, lighter);
                color: text-color($color, lighter);

                @include hover-focus {
                    cursor: not-allowed;
                }
            }

            &.hollow {
                background-color: transparent;
                border: solid 2px color($color);
                color: color($color);

                @include hover-focus {
                    border: solid 2px color($color, light);
                    color: color($color, light);
                }
            }
        }
    }

    &.link {
        background-color: color(white);
        border: solid 2px transparent;
        color: color(primary);
        box-shadow: none;

        @include hover-focus {
            color: color(primary, light);
        }

        &:disabled {
            color: color(primary, lighter, .6);

            @include hover {
                cursor: not-allowed;
            }
        }
    }


        @each $size,
        $value in $spacing-sizes {
            &.#{$size} {
                @include p($size);
                @include font-size($size);
            }
        }

        &.expanded {
            width: 100%;
        }
    }
