@import "../00_Abstracts/index.scss";

.alert {
    align-items: center;
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    @include border-radius(sm);
    @include p(lg);
    @include mb(lg);

    @each $color, $value in $theme-colors {
        &.#{$color} {
            background-color: color(white);
            border: 1px solid color($color);
            color: color($color);
    
            &.fill {
                background-color: color($color);
                color: text-color($color);
    
                .alert-dismiss-icon {
                    color: text-color($color);
                }
            }
    
            .alert-dismiss {
                color: color($color);
    
                @include hover-focus {
                    font-weight: bolder;
    
                    .alert-dismiss-icon {
                        font-size: 110%;
                    }
                }
            }
        }
    }
    
    &-icon {
        @include mr(sm);
    }

    &-text {
        @include m(0);
        @include mr(lg);
    }

    &-dismiss {
        background-color: transparent;
        border: 0;
        @include ml(auto);

        @include hover-focus {
            cursor: pointer;
        }
    }

    &.top {
        left: 50%;
        position: fixed;
        top: 0;
        transform: translate(-50%);
        @include mt(lg);
        @include box-shadow(md);

        &-left {
            left: 0;
            position: fixed;
            top: 0;
            @include ml(lg);
            @include mt(lg);
            @include box-shadow(md);
        }

        &-right {
            position: fixed;
            right: 0;
            top: 0;
            @include mr(lg);
            @include mt(lg);
            @include box-shadow(md);
        }
    }

    &.bottom {
        bottom: 0;
        left: 50%;
        position: fixed;
        transform: translate(-50%);
        @include mb(lg);
        @include box-shadow(md);

        &-left {
            bottom: 0;
            left: 0;
            position: fixed;
            @include ml(lg);
            @include box-shadow(md);
        }

        &-right {
            bottom: 0;
            position: fixed;
            right: 0;
            @include mr(lg);
            @include box-shadow(md);
        }
    }
}

