@import "../00_Abstracts/index.scss";

$badge-border-radius: sm;

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @include border-radius($badge-border-radius);
    
    @each $color, $value in $theme-colors {
        &.#{$color} {
            background-color: color($color);
            border: solid 2px color($color);
            color: text-color($color);

            &.hollow {
                background-color: transparent;
                border: solid 2px color($color);
                color: color($color);

                @include hover-focus {
                    border: solid 2px color($color, light);
                    color: color($color, light);
                }
            }
        }
    }

    &.pill {
        @include border-radius(pill);
    }
}