@import "../00_Abstracts/index.scss";

$card-border-radius: sm;
$card-overlay-bg-color: color(black, base, 0.25);

.card {
    display: flex;
    position: relative;
    border: solid 0.125rem color(light, darker);
    @include border-radius($card-border-radius);

    &.image {
        &-top {
            flex-direction: column;

            .media-img {
                @include border-radius-top($card-border-radius);
            }
        }

        &-left {
            flex-direction: row;

            .media-img {
                @include border-radius-left($card-border-radius);
            }
        }

        &-right {
            flex-direction: row-reverse;

            .media-img {
                @include border-radius-right($card-border-radius);
            }
        }

        &-bottom {
            flex-direction: column-reverse;

            .media-img {
                @include border-radius-bottom($card-border-radius);
            }
        }

        &-overlay {
            .card-image {
                position: relative;

                .media-img {
                    @include border-radius($card-border-radius);
                }    
            }

            .card-body {
                background-color: $card-overlay-bg-color;
                bottom: 0;
                color: color(white);
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }

    &.card-image {
        width: 100%;

        .media-img {
            width: 100%;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include p(lg);

        &.align {
            &-top {
                align-self: flex-start;
            }

            &-middle {

            }

            &-bottom {
                align-self: flex-end;
            }

            &-fill {
                justify-content: space-between;
            }
        }
    }
}

.card-group {
    display: inline-flex;

    &.gutters {
        justify-content: space-between;

        .card+.card {
            @include ml(lg);
        }
    }

    &.no-gutters {
        .card {
            margin: 0;
            border-radius: 0;

            &:first-child {
                @include border-radius-left($card-border-radius);
            }

            &:last-child {
                @include border-radius-right($card-border-radius);
            }
        }

        .card+.card {
            @include ml(-xxs);

            .media-img {
                @include border-radius(none);
            }
        }
    }

    .card {
        flex: 1 0 0%;
    }
}