@import "../00_Abstracts/index.scss";

$card-border-radius: sm;
$card-overlay-bg-color: color(black, base, 0.25);

.card {
    display: flex;
    position: relative;
    border: solid 1px color(dark, lighter);
    @include border-radius($card-border-radius);

    &.image {
        &-top {
            flex-direction: column;

            .media-img {
                @include border-radius-top($card-border-radius);
            }
        }

        &-left {
            flex-direction: row;

            .media-img {
                @include border-radius-left($card-border-radius);
            }
        }

        &-right {
            flex-direction: row-reverse;

            .media-img {
                @include border-radius-right($card-border-radius);
            }
        }

        &-bottom {
            flex-direction: column-reverse;

            .media-img {
                @include border-radius-bottom($card-border-radius);
            }
        }

        &-overlay {
            .card-image {
                position: relative;

                .media-img {
                    @include border-radius($card-border-radius);
                }    
            }

            .card-body {
                background-color: $card-overlay-bg-color;
                bottom: 0;
                color: color(white);
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }

    &.card-image {
        width: 100%;

        .media-img {
            width: 100%;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include p(lg);

        &.align {
            &-top {
                align-self: flex-start;
            }

            &-middle {

            }

            &-bottom {
                align-self: flex-end;
            }

            &-fill {
                justify-content: space-between;
            }
        }
    }
}