@import "../00_Abstracts/index";

$link-button-group-border-radius: sm;

.link-button-group {
    display: inline-flex;
    @include border-radius($link-button-group-border-radius);
    @include box-shadow(sm);

    .button {
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .button:first-child {
        @include border-radius-left($link-button-group-border-radius);
    }

    .button:last-child {
        @include border-radius-right($link-button-group-border-radius);
    }

    &:not(.column) {
        .button+.button {
            @include ml(-xxs);
        }
    }

    &.column {
        flex-direction: column;

        .button+.button {
            @include mb(-xxs);
        }

        .button:first-child {
            @include mb(-xxs);
            @include border-radius-top($link-button-group-border-radius);
        }
    
        .button:last-child {
            @include border-radius-bottom($link-button-group-border-radius);
        }
    }

    &.expanded {
        width: 100%;

        .button {
            width: 100%;
        }
    }
}